POSTGRES_DB=ylume_ops
POSTGRES_USER=ylume_ops
POSTGRES_PASSWORD=troque-esta-senha

YLUME_OPS_ACCESS_PASSWORD=defina-uma-senha-de-acesso
YLUME_OPS_SESSION_SECRET=gere-um-segredo-longo-e-aleatorio
YLUME_OPS_COOKIE_SECURE=true
