--
-- PostgreSQL database dump
--

\restrict Isj283qieuW8GXtTM6ZPdYMrMA7BZRAqKlgmYSoQ0prvxq4QpKELS4mDIyuC9le

-- Dumped from database version 17.10
-- Dumped by pg_dump version 17.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: manutencoes; Type: TABLE; Schema: public; Owner: hawk
--

CREATE TABLE public.manutencoes (
    id integer NOT NULL,
    veiculo_id integer NOT NULL,
    motivo text NOT NULL,
    data_entrada date NOT NULL,
    previsao_retorno date,
    data_retorno date,
    status character varying(30) NOT NULL,
    servico_realizado text,
    condicao_retorno character varying(50),
    observacao_retorno text,
    oficina character varying(150),
    custo numeric(10,2),
    criado_em timestamp without time zone NOT NULL,
    atualizado_em timestamp without time zone NOT NULL
);


ALTER TABLE public.manutencoes OWNER TO hawk;

--
-- Name: manutencoes_id_seq; Type: SEQUENCE; Schema: public; Owner: hawk
--

CREATE SEQUENCE public.manutencoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.manutencoes_id_seq OWNER TO hawk;

--
-- Name: manutencoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hawk
--

ALTER SEQUENCE public.manutencoes_id_seq OWNED BY public.manutencoes.id;


--
-- Name: motoristas; Type: TABLE; Schema: public; Owner: hawk
--

CREATE TABLE public.motoristas (
    id integer NOT NULL,
    nome character varying(150) NOT NULL,
    telefone character varying(30),
    observacao text,
    ativo boolean NOT NULL,
    criado_em timestamp without time zone NOT NULL,
    atualizado_em timestamp without time zone NOT NULL,
    cpf character varying(11),
    cnh character varying(30),
    categoria_cnh character varying(10),
    validade_cnh date
);


ALTER TABLE public.motoristas OWNER TO hawk;

--
-- Name: motoristas_id_seq; Type: SEQUENCE; Schema: public; Owner: hawk
--

CREATE SEQUENCE public.motoristas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.motoristas_id_seq OWNER TO hawk;

--
-- Name: motoristas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hawk
--

ALTER SEQUENCE public.motoristas_id_seq OWNED BY public.motoristas.id;


--
-- Name: operacoes; Type: TABLE; Schema: public; Owner: hawk
--

CREATE TABLE public.operacoes (
    id integer NOT NULL,
    data date NOT NULL,
    turno character varying(30) NOT NULL,
    veiculo_id integer,
    motorista_id integer,
    rota_id character varying(50),
    status character varying(50) NOT NULL,
    observacao text,
    origem character varying(30) NOT NULL,
    criado_em timestamp without time zone NOT NULL,
    atualizado_em timestamp without time zone NOT NULL
);


ALTER TABLE public.operacoes OWNER TO hawk;

--
-- Name: operacoes_id_seq; Type: SEQUENCE; Schema: public; Owner: hawk
--

CREATE SEQUENCE public.operacoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.operacoes_id_seq OWNER TO hawk;

--
-- Name: operacoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hawk
--

ALTER SEQUENCE public.operacoes_id_seq OWNED BY public.operacoes.id;


--
-- Name: veiculos; Type: TABLE; Schema: public; Owner: hawk
--

CREATE TABLE public.veiculos (
    id integer NOT NULL,
    placa character varying(20) NOT NULL,
    tipo character varying(50),
    categoria character varying(50) NOT NULL,
    observacao text,
    ativo boolean NOT NULL,
    criado_em timestamp without time zone NOT NULL,
    atualizado_em timestamp without time zone NOT NULL
);


ALTER TABLE public.veiculos OWNER TO hawk;

--
-- Name: veiculos_id_seq; Type: SEQUENCE; Schema: public; Owner: hawk
--

CREATE SEQUENCE public.veiculos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.veiculos_id_seq OWNER TO hawk;

--
-- Name: veiculos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hawk
--

ALTER SEQUENCE public.veiculos_id_seq OWNED BY public.veiculos.id;


--
-- Name: manutencoes id; Type: DEFAULT; Schema: public; Owner: hawk
--

ALTER TABLE ONLY public.manutencoes ALTER COLUMN id SET DEFAULT nextval('public.manutencoes_id_seq'::regclass);


--
-- Name: motoristas id; Type: DEFAULT; Schema: public; Owner: hawk
--

ALTER TABLE ONLY public.motoristas ALTER COLUMN id SET DEFAULT nextval('public.motoristas_id_seq'::regclass);


--
-- Name: operacoes id; Type: DEFAULT; Schema: public; Owner: hawk
--

ALTER TABLE ONLY public.operacoes ALTER COLUMN id SET DEFAULT nextval('public.operacoes_id_seq'::regclass);


--
-- Name: veiculos id; Type: DEFAULT; Schema: public; Owner: hawk
--

ALTER TABLE ONLY public.veiculos ALTER COLUMN id SET DEFAULT nextval('public.veiculos_id_seq'::regclass);


--
-- Data for Name: manutencoes; Type: TABLE DATA; Schema: public; Owner: hawk
--

COPY public.manutencoes (id, veiculo_id, motivo, data_entrada, previsao_retorno, data_retorno, status, servico_realizado, condicao_retorno, observacao_retorno, oficina, custo, criado_em, atualizado_em) FROM stdin;
1	41	Test	2026-07-22	\N	2026-07-22	FINALIZADA	\N	\N	\N	\N	\N	2026-07-22 19:11:03.933846	2026-07-22 19:11:08.736254
2	60	Motor	2026-07-25	\N	\N	EM_MANUTENCAO	\N	\N	\N	\N	\N	2026-07-25 16:24:09.644004	2026-07-25 16:24:09.64401
\.


--
-- Data for Name: motoristas; Type: TABLE DATA; Schema: public; Owner: hawk
--



--
-- Data for Name: operacoes; Type: TABLE DATA; Schema: public; Owner: hawk
--



--
-- Data for Name: veiculos; Type: TABLE DATA; Schema: public; Owner: hawk
--



--
-- Name: manutencoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hawk
--

SELECT pg_catalog.setval('public.manutencoes_id_seq', 2, true);


--
-- Name: motoristas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hawk
--

SELECT pg_catalog.setval('public.motoristas_id_seq', 49, true);


--
-- Name: operacoes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hawk
--

SELECT pg_catalog.setval('public.operacoes_id_seq', 52, true);


--
-- Name: veiculos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: hawk
--

SELECT pg_catalog.setval('public.veiculos_id_seq', 85, true);


--
-- Name: manutencoes manutencoes_pkey; Type: CONSTRAINT; Schema: public; Owner: hawk
--

ALTER TABLE ONLY public.manutencoes
    ADD CONSTRAINT manutencoes_pkey PRIMARY KEY (id);


--
-- Name: motoristas motoristas_pkey; Type: CONSTRAINT; Schema: public; Owner: hawk
--

ALTER TABLE ONLY public.motoristas
    ADD CONSTRAINT motoristas_pkey PRIMARY KEY (id);


--
-- Name: operacoes operacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: hawk
--

ALTER TABLE ONLY public.operacoes
    ADD CONSTRAINT operacoes_pkey PRIMARY KEY (id);


--
-- Name: veiculos veiculos_pkey; Type: CONSTRAINT; Schema: public; Owner: hawk
--

ALTER TABLE ONLY public.veiculos
    ADD CONSTRAINT veiculos_pkey PRIMARY KEY (id);


--
-- Name: ix_manutencoes_id; Type: INDEX; Schema: public; Owner: hawk
--

CREATE INDEX ix_manutencoes_id ON public.manutencoes USING btree (id);


--
-- Name: ix_manutencoes_status; Type: INDEX; Schema: public; Owner: hawk
--

CREATE INDEX ix_manutencoes_status ON public.manutencoes USING btree (status);


--
-- Name: ix_manutencoes_veiculo_id; Type: INDEX; Schema: public; Owner: hawk
--

CREATE INDEX ix_manutencoes_veiculo_id ON public.manutencoes USING btree (veiculo_id);


--
-- Name: ix_motoristas_id; Type: INDEX; Schema: public; Owner: hawk
--

CREATE INDEX ix_motoristas_id ON public.motoristas USING btree (id);


--
-- Name: ix_motoristas_nome; Type: INDEX; Schema: public; Owner: hawk
--

CREATE INDEX ix_motoristas_nome ON public.motoristas USING btree (nome);


--
-- Name: ix_operacoes_data; Type: INDEX; Schema: public; Owner: hawk
--

CREATE INDEX ix_operacoes_data ON public.operacoes USING btree (data);


--
-- Name: ix_operacoes_id; Type: INDEX; Schema: public; Owner: hawk
--

CREATE INDEX ix_operacoes_id ON public.operacoes USING btree (id);


--
-- Name: ix_operacoes_motorista_id; Type: INDEX; Schema: public; Owner: hawk
--

CREATE INDEX ix_operacoes_motorista_id ON public.operacoes USING btree (motorista_id);


--
-- Name: ix_operacoes_status; Type: INDEX; Schema: public; Owner: hawk
--

CREATE INDEX ix_operacoes_status ON public.operacoes USING btree (status);


--
-- Name: ix_operacoes_turno; Type: INDEX; Schema: public; Owner: hawk
--

CREATE INDEX ix_operacoes_turno ON public.operacoes USING btree (turno);


--
-- Name: ix_operacoes_veiculo_id; Type: INDEX; Schema: public; Owner: hawk
--

CREATE INDEX ix_operacoes_veiculo_id ON public.operacoes USING btree (veiculo_id);


--
-- Name: ix_veiculos_id; Type: INDEX; Schema: public; Owner: hawk
--

CREATE INDEX ix_veiculos_id ON public.veiculos USING btree (id);


--
-- Name: ix_veiculos_placa; Type: INDEX; Schema: public; Owner: hawk
--

CREATE UNIQUE INDEX ix_veiculos_placa ON public.veiculos USING btree (placa);


--
-- Name: ux_motoristas_cpf; Type: INDEX; Schema: public; Owner: hawk
--

CREATE UNIQUE INDEX ux_motoristas_cpf ON public.motoristas USING btree (cpf);


--
-- Name: manutencoes manutencoes_veiculo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hawk
--

ALTER TABLE ONLY public.manutencoes
    ADD CONSTRAINT manutencoes_veiculo_id_fkey FOREIGN KEY (veiculo_id) REFERENCES public.veiculos(id);


--
-- Name: operacoes operacoes_motorista_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hawk
--

ALTER TABLE ONLY public.operacoes
    ADD CONSTRAINT operacoes_motorista_id_fkey FOREIGN KEY (motorista_id) REFERENCES public.motoristas(id);


--
-- Name: operacoes operacoes_veiculo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: hawk
--

ALTER TABLE ONLY public.operacoes
    ADD CONSTRAINT operacoes_veiculo_id_fkey FOREIGN KEY (veiculo_id) REFERENCES public.veiculos(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Isj283qieuW8GXtTM6ZPdYMrMA7BZRAqKlgmYSoQ0prvxq4QpKELS4mDIyuC9le

